@model ThAmCo.Events.Data.Guest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Guest</h4>
    <hr />
    <dl class="row">
        <dt class = "dl-horizontal">
            @Html.DisplayNameFor(model => model.Forename)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Forename)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Payment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>
    </dl>
</div>

<table class="table">
    <thread>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.FirstOrDefault().Event.Title))
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings.FirstOrDefault().Event.Date))
            </th>
              <th>
                @Html.DisplayNameFor(model => model.Bookings.FirstOrDefault().Event.Duration)
            </th><th></th>
        </tr>
    </thread>
    <tbody>
        @foreach (var item in Model.Bookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Title)
                </td>
                     <td>
                    @Html.DisplayFor(modelItem => item.Event.Date)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Duration)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
